html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: url("../images/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#follower-rating-header {
    margin-top: 0.25em;
}

#followers-table {
    border-collapse: collapse;
    width: 100%;
}

.table-fixed-container {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.table-fixed-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}
